motor
python-dotenv
fastapi
uvicorn
pydantic-settings
pydantic
sqlalchemy
pytest
python-multipart
# mongoengine
# pymongo
mongoengine==0.23.1
pymongo==3.12.0
pymongo[srv]
pyjwt
python-dateutil
google.generativeai
firebase-admin